{% extends 'base.html.twig' %}

{% block title %}QB PDF - Mot de passe oublié{% endblock %}

{% block body %}
    <h2>Réinitialisation du mot de passe</h2>
    {{ form_start(form, { 'attr': { 'class': 'form' } }) }}
        {{ form_row(form.email) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
