{% extends 'base.html.twig' %}

{% block title %}QB PDF Converter{% endblock %}

{% block body %}

    <h1 class="h1-home">
        Bienvenue sur <span>QB PDF Converter</span> !
    </h1>

    <section class="presentation">
        <img src="{{ asset('build/images/file-pdf.png') }}" alt="PDF-File" class="presentation__img">
        <div>
            <h3>Convertissez vos contenus en PDF en toute simplicité</h3>
            <p class="presentation__txt">
                QB PDF Converter est un outil en ligne permettant de transformer facilement une URL,
                un fichier HTML ou un texte personnalisé en un fichier PDF. Que vous souhaitiez enregistrer
                une page web, convertir un document ou générer un PDF à partir d'un texte, cet outil répond à
                vos besoins. L'offre <b>Standard</b> (gratuite) permet un nombre limité de conversions par jour, idéale
                pour un usage occasionnel. Les abonnements <b>Expert</b> et <b>Premium</b> offrent plus de conversions et des
                fonctionnalités avancées, plus de flexibilité et un accès prioritaire aux services, le tout avec un historique
                des conversions réalisées.
                <br><br>
                Accessible depuis n'importe quel appareil, QB PDF Converter est la solution idéale pour créer des
                fichiers PDF rapidement et efficacement.
            </p>
        </div>
    </section>

    <h2>Choisissez l'offre qui vous convient :</h2>

    <div class="container">
        <div class="offer offer-standard">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#ffffff" d="M579.8 267.7c56.5-56.5 56.5-148 0-204.5c-50-50-128.8-56.5-186.3-15.4l-1.6 1.1c-14.4 10.3-17.7 30.3-7.4 44.6s30.3 17.7 44.6 7.4l1.6-1.1c32.1-22.9 76-19.3 103.8 8.6c31.5 31.5 31.5 82.5 0 114L422.3 334.8c-31.5 31.5-82.5 31.5-114 0c-27.9-27.9-31.5-71.8-8.6-103.8l1.1-1.6c10.3-14.4 6.9-34.4-7.4-44.6s-34.4-6.9-44.6 7.4l-1.1 1.6C206.5 251.2 213 330 263 380c56.5 56.5 148 56.5 204.5 0L579.8 267.7zM60.2 244.3c-56.5 56.5-56.5 148 0 204.5c50 50 128.8 56.5 186.3 15.4l1.6-1.1c14.4-10.3 17.7-30.3 7.4-44.6s-30.3-17.7-44.6-7.4l-1.6 1.1c-32.1 22.9-76 19.3-103.8-8.6C74 372 74 321 105.5 289.5L217.7 177.2c31.5-31.5 82.5-31.5 114 0c27.9 27.9 31.5 71.8 8.6 103.9l-1.1 1.6c-10.3 14.4-6.9 34.4 7.4 44.6s34.4 6.9 44.6-7.4l1.1-1.6C433.5 260.8 427 182 377 132c-56.5-56.5-148-56.5-204.5 0L60.2 244.3z"/></svg>
            <h3>Standard</h3>
            <ul>
                <li>Conversion d'URL</li>
                <li>Limitée à 3 par jour</li>
                <li>Historique des conversions</li>
            </ul>
            <p class="price">Gratuit</p>
        </div>

        <!-- Offre Expert -->
        <div class="offer offer-expert">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#1d1e22" d="M0 32l34.9 395.8L191.5 480l157.6-52.2L384 32H0zm308.2 127.9H124.4l4.1 49.4h175.6l-13.6 148.4-97.9 27v.3h-1.1l-98.7-27.3-6-75.8h47.7L138 320l53.5 14.5 53.7-14.5 6-62.2H84.3L71.5 112.2h241.1l-4.4 47.7z"/></svg>
            <h3>Expert</h3>
            <ul>
                <li>Conversion d'URL et de fichiers HTML</li>
                <li>Limitée à 6 par jour</li>
                <li>Historique des conversions</li>
            </ul>
            <p class="price">4,99€ / mois</p>
        </div>

        <!-- Offre Premium -->
        <div class="offer offer-premium">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#1d1e22" d="M64 0C28.7 0 0 28.7 0 64L0 448c0 35.3 28.7 64 64 64l256 0c35.3 0 64-28.7 64-64l0-288-128 0c-17.7 0-32-14.3-32-32L224 0 64 0zM256 0l0 128 128 0L256 0zM112 256l160 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-160 0c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64l160 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-160 0c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64l160 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-160 0c-8.8 0-16-7.2-16-16s7.2-16 16-16z"/></svg>
            <h3>Premium</h3>
            <ul>
                <li>Conversion d'URL, de fichiers HTML et de texte personnalisé</li>
                <li>Limitée à 10 par jour</li>
                <li>Historique des conversions</li>
            </ul>
            <p class="price">9,99€ / mois</p>
        </div>
    </div>

    <p class="p-subs">Vous pouvez changer d'offre à tout moment en allant sur la page <a href="{{ path('app_subscription') }}">Changer d'abonnement</a>.</p>

    <footer>
        <p>&copy; 2025 - <a href="http://qbuteau.fr" target="_blank">Quentin BUTEAU</a> | Tous droits réservés</p>
    </footer>

    

{% endblock %}
