{% extends 'base.html.twig' %}

{% block title %}QB PDF - Modifier votre abonnement{% endblock %}

{% block body %}
    <h2>Modifier votre abonnement</h2>
    <form class="form" action="{{ path('app_subscription_change') }}" method="post">
        <label for="subscription">Sélectionnez un abonnement :</label>
        <select name="subscription" id="subscription">
            {% for id, subscription in subscriptions %}
                <option value="{{ id }}" {% if id == currentSubscription %}selected{% endif %}>
                    {{ subscription.name }} | {{ subscription.price }}€ / mois
                </option>
            {% endfor %}
        </select>

        <button type="submit">Modifier</button>
    </form>
{% endblock %}
