{% extends 'base.html.twig' %}

{% block title %}QB PDF - Changer le mot de passe{% endblock %}

{% block body %}
    <h2>Changer votre mot de passe</h2>

    {{ form_start(form) }}
        {{ form_row(form.newPassword) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
